/* Styling of main label */
h1{ 
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 100px;
    text-shadow: 2px 2px;
}

/* Styling of background */
body {
    background-color: #686868;
}

/* Styling of card presenting the quotes */
.card{ 
	 min-height: 500px;
     margin-left: 10px;
     align-content: center;
     background-color: #E0E0E0;
}

/* Styling of quote-text */
#quote {
    font-family: "Dancing Script", sans-serif;
    font-size: 40px;
    overflow: hidden;
}

/* Styling of button */
#quote-button{
    font-family: "Bebas Neue", sans-serif;
	margin-left: 10px;
}

/* Text size changes depending on screen size */
@media screen and (max-width: 705px) {
    h1{
        font-size: 75px;
    }
}

@media screen and (max-width: 650px) {
    h1{
        font-size: 65px;
    }
}